* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-family: SF Pro Display;
    font-size: 14px;
    font-weight: 500;
}

@define-color primary transparent;
@define-color secondary #101010;
@define-color text #f5f0f6;

window#waybar {
    background: linear-gradient(180deg, rgba(35, 35, 35, 0.2) 0%, rgba(25, 25, 25, 0.1) 35%, rgba(20, 20, 20, 0) 100%);
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0;
    padding: 0;
}

window#waybar.hidden {
    opacity: 0;
}

button {
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    transition: 0.2s ease;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    text-shadow: none;
}

button:hover>* {
    all: unset;
    text-shadow: none;
    transition: 0.2s ease;
    color: #fff;
}

#workspaces {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    padding: 2px 4px;
    margin: 4px 2px;
}

#workspaces * {
    font-size: 12px;
}

#workspaces button {
    background-color: transparent;
    color: #ffffff;
    margin: 0px;
    padding: 0px 5px 0px 2px;
    font-size: 5px;
}

#workspaces button.focused {
    color: white;
}

#workspaces button.urgent {
    color: #eb4d4b;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    border-radius: 3px;
}

#window {
    background: rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-weight: 400;
    margin: 4px 2px;
    padding: 4px 12px;
    border-radius: 6px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#tray {
    background: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    padding: 4px 12px;
    margin: 4px 2px;
    border-radius: 6px;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

#battery.critical:not(.charging) {
    background: rgba(255, 99, 71, 0.3);
    animation: blink 0.5s linear infinite alternate;
}

@keyframes blink {
    to {
        background-color: rgba(255, 0, 0, 0.5);
    }
}

#temperature.critical {
    background: rgba(255, 99, 71, 0.3);
}


#network.disconnected {
    background: rgba(255, 99, 71, 0.2);
}


tooltip {
    background: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

tooltip label {
    color: #ffffff;
}