@-moz-document domain("allegri.isw.net.au") {
:root {
  /* Primary Colors */
  --nightfox-bg: #192330;
  --nightfox-bg-alt: #212e3f;
  --nightfox-fg: #cdcecf;
  --nightfox-fg-muted: #aeafb0;

  /* Accent Colors */
  --nightfox-blue: #719cd6;
  --nightfox-blue-alt: #86abdc;
  --nightfox-green: #81b29a;
  --nightfox-red: #c94f6d;
  --nightfox-yellow: #dbc074;
  --nightfox-orange: #f4a261;
  --nightfox-purple: #9d79d6;

  /* Borders and Highlights */
  --nightfox-border: #2b3b51;
  --nightfox-highlight: #63cdcf;

  /* Shadows */
  --nightfox-shadow: rgba(0, 0, 0, 0.5);
  /* Standard shadow */
  --background: #192330;
  --foreground: #cdcecf;
  --selection_background: #2b3b51;
  --selection_foreground: #cdcecf;
  --cursor_text_color: #192330;
  --url_color: #81b29a;

  --color1: #c94f6d;
  --color2: #81b29a;
  --color3: #dbc074;
  --color4: #719cd6;
  --color5: #9d79d6;
  --color6: #63cdcf;
  --color7: #dfdfe0;

  /* # bright */
  --color8: #575860;
  --color9: #d16983;
  --color10: #8ebaa4;
  --color11: #e0c989;
  --color12: #86abdc;
  --color13: #baa1e2;
  --color14: #7ad5d6;
  --color15: #e4e4e5;

  --base00: #192330;
  --base01: #212e3f;
  --base02: #29394f;
  --base03: #575860;
  --base04: #71839b;
  --base05: #cdcecf;
  --base06: #aeafb0;
  --base07: #e4e4e5;
  --base08: #c94f6d;
  --base09: #f4a261;
  --base0A: #dbc074;
  --base0B: #81b29a;
  --base0C: #63cdcf;
  --base0D: #719cd6;
  --base0E: #9d79d6;
  --base0F: #d67ad2;
}

div#main.seq-window {
  height: calc(100% - 30px);
    top: 30px;
}

.ics-scbanner .nav-icon {
    height: 30px !important;
    width: 80px !important;
    filter: invert(60%);
}

.ics-scbanner {
  background-image: -webkit-linear-gradient(-45deg, var(--nightfox-bg), var(--nightfox-purple) 300%);
  border-bottom: 0 !important;
  height: 20px;
}

.ics-scbanner * {
  color: var(--nightfox-purple) !important;
  fill: var(--nightfox-purple) !important;
}

.ics-scbanner > .navmenu:hover::after, .ics-scbanner > a:hover::after, .ics-scbanner > button:hover::after, .ics-scbanner > .selected::after {
  border-bottom-color: var(--nightfox-red) !important;
}


.cal-grid-view.month-view .grid-view-month-timeslots .month-timeslot.header-today .date-text,
.seq-msg-row.selected,
.bar.event.alldayevent, .bar.event.anniversary, .bar.event.meeting, .eventPopup .alldayevent::before, .eventPopup .anniversary::before, .eventPopup .meeting::before, .eventPopup .reminder::before {
  background-color: var(--nightfox-purple) !important;
}

.seq-msg-row.selected:not(.checked)::before {
  border-left: 4px solid var(--nightfox-highlight);
}

* {
  border-color: var(--base03) !important;
  outline-color: var(--base02) !important;
  background-color: transparent;
}

.seq-msg-row .divider, .seq-msg-row .dueDateDivider,
h1, h2, h3, h4,
.people-set .initials,
.calendarDate .calendarToday {
  color: var(--nightfox-purple) !important;
}


body,
div.set-side-bar,
div.folder-tray,
div.left-header,
div.preview-panel,
div.preview-panel *,
body,
div.set-side-bar,
div.folder-tray,
div.left-header,
div.preview-panel,
div.preview-panel *,
.seq-window div.seq-header,
.seq-window .seq-footer,
.calendar-Container, .set-notification-colors,
.calendarDate,
.keyset.inbox.show-focus-count .focus-count, .keyset.needs-attention.show-focus-count .focus-count, .keyset.waiting-for.show-focus-count .focus-count,
.socpimMailingList .socpimNameBtn,
.seq-mcv .message-display-settings .threads-state,
.seq-mcv,
.cal-grid-view .grid-view-header .grid-view-header-dates .s-cv-grid,
.eventDetailContainer,
.left-form, .s-mailbody-notice, .s-mailbody-notice *,
.cal-grid-view .grid-view-header .header-today .s-cv-text,
.socpimComposeView.has-action-bar .socpimToolbarCtrl.action-bar, .socpimComposeView.has-action-bar .socpimToolbarCtrl.action-bar *,
.socpimComposeView .socpimComposeDialog .socpimDialogFooter, .socpimComposeView .socpimComposeDialog .socpimDialogFooter *,
.dockable.quickAddPanel.has-action-bar .action-bar,
.datepickerContainer::before {
  background-color: var(--nightfox-bg) !important;
  border-color: var(--nightfox-border) !important;
  color: var(--nightfox-fg) !important;
}

.seq-mcv div.inbox-container,
.seq-msg-row *,
input,
.preview-panel .action-bar,
.seq-search-container .seq-search-bar,
.preview-panel.threaded > .content .read-content > .read-view, .preview-panel.threaded > .content .thread-info,
div.thread-info,
.seq-mcv div.resizable-divider,
.seq-window .calendar-footer,
.set-base,
.eventBar,
.has-unread.preview-panel .thread-info .subject,
.seq-search-container,
.cal-grid-view.month-view .grid-view-month-timeslots .month-timeslot,
.seq-mcv .left-form,
iframe, .s-stack, body, .s-basicpanel, .s-infoarea-notice, .s-infoarea-notice *,
td.s-mailbody-notice-itemname + td, span.s-noselecttext.s-mailbody-notice-itemname,
.cal-grid-view .grid-view-header .grid-view-header-left, .cal-grid-view .grid-view-header .grid-view-header-left-dual,
.cal-grid-view,
.s-toppanel *,
.cke .cke_top, .cke .cke_top *,
.footerRow, .footerRow *,
.displayNameField .oti-view .displayed .socpimListLabel, .displayNameField .oti-view .displayed .socpimListLabel *,
.chiclet, .chiclet *,
.quickAddView, .quickAddView *,
.datepickerContainer,
.ics-scbanner .navmenu .navsimplelist, .ics-scbanner .navmenu .navsimplelist *,
.people-set .ic-bizcard-section1 .action {
  background-color: var(--nightfox-bg-alt) !important;
  border-color: var(--nightfox-border);
  color: var(--nightfox-fg) !important;
}

.cal-grid-view .cal-entry-view .s-cv-entry-innerframe, .cal-grid-view .cal-entry-view.s-cv-entry,
.cal-grid-view .cal-entry-view .s-cv-entry-innerframe, .cal-grid-view .cal-entry-view.s-cv-entry *,
.cal-grid-view .cal-entry-view.s-cv-entry-unprocessed .entry-view-container,
.cal-grid-view .cal-entry-view.s-cv-entry-unprocessed .s-cv-entry-innerframe.s-cv-text,
.grayEventBar,
.cal-grid-view .s-cv-timeslot .grid-row-nowork {
  background-color: var(--selection_background);
  color: var(--base07) !important;
}

.miniCreateEvent .dateTimeRow, .miniCreateEvent .dateTimeRow *,
.seq-window .seq-header .create-button,
.seq-window .compose-button,
body.dijit_a11y .seq-window .outgoing-button,
body.dijit_a11y button,
.dockable.docked-compose.has-action-bar .title-and-content > .action-bar,
.dockable.docked-compose.has-action-bar .title-and-content > .action-bar *,
.add-folder-view .add-folder-button,
.datepickerContainer .dijitCalendarMonthContainer .dijitCalendarCurrentMonthLabel {
  color: var(--nightfox-blue);
  background-color: var(--selection-background);
}

button {
  color: var(--nightfox-red);
}

div.action-bar * {
  color: var(--nightfox-green) !important;
}

div.triage-actions {
  background-color: initial;
}

.dijit_a11y .ics-scbanner .navsimplelist > li a:focus, .dijit_a11y .ics-scbanner .navsimplelist > li a:hover {
  outline: 1px solid var(--nightfox-purple) !important;
  color: var(--nightfox-purple) !important;
  outline-offset: -3px;
}

.datepickerContainer table tr.dijitCalendarWeekTemplate td.dijitCalendarCurrentDate span,
.datepickerContainer table tr.dijitCalendarWeekTemplate td.dijitCalendarCurrentDate.dijitCalendarSelectedDate span::after {
    background: none;
    color: var(--nightfox-purple);
}

.seq-msg-row dl.msg-info {
  padding-left: 4px;
}

.seq-msg-row::after,
:not(.focused):not(:hover):not(:focus).seq-msg-row .divider::after {
  border-top: 1px solid var(--nightfox-border)
}


a svg, button svg, body.dijit_a11y svg {
  fill: var(--nightfox-fg) !important;
}

.calendar-Container button {
  border-radius: 50%;
}
}
